{% extends 'base.html.twig' %}


{% block authenticatedUsername %}{{ include('@SEP/Default/userid.html.twig') }}{% endblock authenticatedUsername %}
{% block contentdetail %}


    <!-- Zero Configuration Table -->
    <div class="panel panel-default">
        <div class="panel-heading">Existing Users</div>
        <div class="panel-body">
            <table id="zctb" class="display table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>User ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Manage Account</th>

                </tr>
                </thead>
                <tbody>

                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('user_edit', { 'id': user.id }) }}">Edit or Delete</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>



        </div>
    </div>

    <ul>
        <li>
            <a href="{{ path('user_new') }}">Create a new entry</a>
        </li>
    </ul>

{% endblock %}




